node_modules/
dist/
app/dist/
app/.ui5/
db/data/*.db
.env
.DS_Store
coverage/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# CAP artifacts
.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# @cap-js/cds-typer
@cds-models
